.column {
    padding-left: 20px;
    width: 50%;
}

.num {
    font-size: 40px;
    
    border: 1px solid black;
    border-radius: 4px;

    padding: 5px;

    margin-right: 20px;
    margin-bottom: 10px;
}

.container {
    font-family: "Bank Gothic", sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 4px;
}

.result {
    font-size: 40px;
    font-family: "Consolas", sans-serif;
}

#message {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Consolas", sans-serif;
}

.letter {
    margin-bottom: 10px;
}

.removeButton {
    margin-right: 10px;
}