body {
    background-color: #2e2e2e;
}

p, h1 {
    color: #20C20E;
}

.container {
    font-family: "Courier New", sans-serif;
}

.btn-large {
    margin-top: 50px;
    font-size: 50px;
    border-radius: 12px;
}