body {
    background-color: #2e2e2e;
}

p, h1 {
    color: #20C20E;
    margin-bottom: 30px;
}

.container {
    font-family: "Courier New", sans-serif;
}

.btn-large {
    margin-top: 50px;
    font-size: 50px;
    border-radius: 12px;
}

.num {
    font-size: 40px;
    color: #20C20E;
    background-color: black;
    font-family: "Bank Gothic", sans-serif;

    border: 1px solid black;
    border-radius: 4px;

    padding: 5px;

    margin-right: 20px;
    margin-bottom: 10px;
}

.result {
    font-size: 40px;
    font-family: "Consolas", sans-serif;
    color: #20C20E;
}

.text-center {
    margin-bottom: 30px;
}

.addButton {
    margin-right: 10px;
    background-color: darkgray;
}