body {
    background-color: #84cae6;
    overflow-y: hidden;
    overflow-x: hidden;
}

#sector_one, #sector_two, #sector_three {
    height: 30%;
    width: 100%;
}

#spaceship {
    height: 75%;
    width: 100%;
    background-size: 100% 100%;
}

#input {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #84cae600;
}

#input:focus {
    outline: none;
}

.city {
    background-size: 50% 100%;
}

.sector {
    font-family: sans-serif;
    text-align: center;
}

.stats {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gameTop {
    height: 25%;
    width: 100%;
}

.gameBottom {
    height: 75%;
    width: 100%;
}