.text-center {
    margin-bottom: 30px;
}

.container {
    line-height: 2;
}

.num {
    font-size: 40px;
    
    border: 1px solid black;
    border-radius: 4px;

    padding: 5px;

    margin-right: 20px;
    margin-bottom: 10px;
}

button {
    border: 1px solid black;
    border-radius: 4px;
}

.result {
    font-size: 40px;

}

.letter {
    margin-bottom: 10px;
}

.text-center, button {
    font-family: "Bank Gothic", sans-serif;
}

#quiz-container, .result, p {
    font-family: "Consolas", sans-serif;
}

#rand-num, #rand-letter {
    margin: 0;
}

.btn-large {
    font-size: 40px;
    border-radius: 10px;
}

img {
    width: 60%;
    height: auto;
}