html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
main {
  text-align: center;
}
canvas {
  border: .2em solid #000;
}

#scores {
  display: none;
  visibility: hidden;
}

#scoreMenu {
  display: none;
  visibility: hidden;
  font-size: 1.5em;
}
#gameMenu {
  text-align: center;
  font-size: 1.1em;
  border: .2em solid #ddd;
  margin-left: 14%;
  margin-right: 14%;
  padding-bottom: 5em;
}
ol {
  list-style-type: none;
  text-align: left;
}

#killCount {
  display: inline-block;
}
#roundCounter {
  display: inline-block;
}

#gameBtn {
  padding: .7em;
  font-size: 1.3em;
  background-color: #f00;
  color: #fff;
}
#gameBtn:hover {
  background-color: #330000;
  cursor: pointer;
}

button {
  margin: .2em;
}

.difficultyBtn:active {
  background-color: #666;
}

.difficultyBtn:focus {
  background-color: #666;
}

#popUpWindow {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  background-color: #909090;
  padding: 2em;
  z-index: 1;
}


/* For Mobile use */

/*
* The canvas element is only determ by the percentage but javascipt controls the pixels and
* general size :max-width and max-height
*/
@media only screen and (max-width: 1024px) {
  canvas {
    width: 50%;
    height: 40%;
  }
}
@media only screen and (max-width: 768px) {
  canvas {
    width: 60%;
    height: 80%;
  }

  #gameMenu {
    text-align: center;
    font-size: 1.5em;
    border: .2em solid #ddd;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5em;
  }
}

@media only screen and (max-width: 375px) {
  canvas {
    width: 60%;
    height: 100%;
  }
  #gameMenu {
    text-align: center;
    font-size: 1.5em;
    border: .2em solid #ddd;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5em;
  }
}
@media only screen and (max-width: 411px) {
  canvas {
    width: 60%;
    height: 100%;
  }
  #gameMenu {
    text-align: center;
    font-size: 1.5em;
    border: .2em solid #ddd;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5em;
  }
}
