* {
    box-sizing: border-box;
   
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

#instruments img {
    width: 20%;
    padding: 7px;
    overflow: auto;

}

button {
    border: 1px solid;
}

#bottomShelf {
    display: none;
}

/* Mobile displays */
@media only screen and (max-width: 768px) {
    .splitter {
        display: none;
    }

    .panel-right {
        display: none;
    }

    .panel-container {
        height: 93% !important;
    }

    #editor,
    #preview {
        width: 100vw;
    }

    #edit,
    #execute {
        width: 50vw;
        height: 100%;
        font-size: 1em;
    }

    #edit {
        background-color: #3954AE;
        color: white;
    }

    #execute {
        background-color: #4CAF50;
        color: white;
        float: right;
    }

    #bottomShelf {
        display: block;
        height: 7%;
    }
}

.pull-right {
    margin-left: auto;
    
}

#optionsButton {
    background-color: #ffc107;
    border-color: #ffc107;
    height: 100%;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1px;
}

/* #learnMore {
    background-color: salmon;
    border-color: salmon ;
    height: 100%;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1px;
} */

table,
th,
td {
    border: 3px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    padding-top: 1%;
    width: 100%;
    height: 100%;
    
}

.modal button {
    color: white;
    background-color: #28A745;
    border-color: #28A745;
    font-size: 1rem;
    padding: .375rem .75rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 0px;
    
}

.modal h1 {
    margin: 0px;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    overflow-y: scroll;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    height: 80vh;
    box-sizing: border-box;
    padding: 1rem;
    
}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
}

.close {
    float: right;
    padding-right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.panel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.panel-left {
    flex: 0 0 auto;
    width: 50%;
    background: #eee;
    color: #fff;
    padding: 10px;
    overflow: auto;
    background-image: url('../img/background.png');
    
}    

.panel-right {
    flex: 1 1 auto;
    width: 100%;
    background: #eee;
    overflow: scroll;
    white-space: nowrap;
    background-image: url('../img/background.png');
   
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-activeline-background {
    background: #f5f5f5;
}

/* #exampleLine{
    
} */

#exampleButton0{
    position: absolute;
    left: 2%;
    bottom: 10px;

}

#exampleButton1 {
    position: absolute;
    bottom: 10px;
    left: 24%;
    background-color: rgb(237, 237, 55);
    border-color: rgb(237, 237, 55);
    color: black;
  
}

#exampleButton2 {
    position: absolute;
    bottom: 10px;
    left: 47.5%;
    background-color: red;
    border: red;
}

#myInput0{
    position: absolute;
    border: 3px solid rgb(87, 223, 87);
    left: 3%;
    bottom: 130px;
}

#myInput1 {
    border: 3px solid rgb(237, 237, 55);
    position: absolute;
    left: 25.5%;
    bottom: 130px;

}

#myInput2 {
    border: 3px solid red;
    position: absolute;
    left: 48%;
    bottom: 130px;

}


  #tutorialVideo{
    position: absolute;
    right: 5%;
    border: 5px black solid ;
    padding: 1px;
    bottom: 40%;
  }