body {
    background-color: #3ea01f;
    overflow-x: hidden;
}

#timer,
#wpmBox {
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
}

#end {
    color: white;
}

#wordTray {
    font-size: 18px;
    text-align: center;
}

#player {
    margin-top: 100px;
    position: relative;
    left: 0;
}

#player img {
    height: 150px;
    width: 150px;
}

#wordTray span {
    margin-right: 1.2em;
    color: #fff;
}

#wordTray span:first-child {
    color: black;
    background-color: #ffe359;

    padding: 5px;
    border-radius: 4px;
}

#redLight, #yellowLight, #greenLight, #stopLight {
    z-index: 1;
    margin: auto;
    display: none;
}

#road {
    animation: none;
    left: 0%;
}

@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-88%, 0, 0);
    }
}