body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

section {
    flex: 1 0 auto;
}

#problemTypes {
    padding-left: 5px;
    list-style: none;
    margin-bottom: 0;
}

#problemTypes li {
    display: inline;
    margin-right: 5px;
}

label {
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: #eeeeee;
}

#code {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem;
    width: 50%;
    white-space: pre-wrap;
}

#answer {
    width: 50%;
    height: 25%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

@media only screen and (max-width: 768px) {
    #code, #answer {
        width: 90%;
    }
}

#notification {
    position: absolute;
    right: 5px;
    width: 25%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#notification.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#notification.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.container {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

#editor {
    margin-top: 1rem;
    margin-bottom: .5rem;
    border: 1px solid #eeeeee;
}