body {
    background-color: #2ca1db;
}

.container {
    font-family: "Bank Gothic", sans-serif;
}

#title {
    padding-top: 220px;
    color: white;
    font-size: 80px;
}

.btn-large {
    font-size: 50px;
    border-radius: 12px;
    margin-bottom: 30px;
}